* {
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

.product-item {
    min-width: 200px;
    height: 250px;
    border: 1px solid #e6e6e6; 
    margin: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.products {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}


.price-text {
    margin-top: 100px;
}

.buy-btn {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #f16d7f;
    text-align: center;
    border: 1px solid #f16d7f;
    transition: 0.3s;    
    margin-top: 20px;
}
.buy-btn:hover{
    color: #f16d7f;
    background-color: #ffffff;
    cursor: pointer;
}

.btn-cart {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    background-color: #f16d7f;
    text-align: center;
    border: 1px solid #f16d7f;
    transition: 0.3s;
}

.btn-cart:hover{
    color: #f16d7f;
    background-color: #ffffff;
    cursor: pointer;
}


